[submodule "qemu"]
	path = qemu
	url = git://github.com/palmer-dabbelt/qemu.git
[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/riscv/linux.git
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = git://github.com/riscv/riscv-gnu-toolchain.git
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "sparse"]
	path = sparse
	url = git://git.kernel.org/pub/scm/devel/sparse/sparse.git
